<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="airtel" class="org.prince.in.impl.Airtel" />
    
    <bean id="voda" class="org.prince.in.impl.Vodaphone" />
    
    <bean id="sim" class="org.prince.in.impl.Jio" />

</beans>